
{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des projets - TaskLinker{% endblock %}
{% block page_title %}Projets{% endblock %}

{% block body %}
    <div id="projects-container">

        {# Boucle sur la liste des projets envoyés par le contrôleur #}
        {% for projet in projets %}
            <article class="card-project">
                <a href="{{ path('app_project_show', { id: projet.id }) }}">
                    <h2>{{ projet.titre }}</h2>
                </a>

                <div class="card-project-icons">
                    <a href="#"><i class="fa-solid fa-pen"></i></a>
                    <a href="#"><i class="fa-solid fa-trash"></i></a>
                </div>
            </article>
        {% else %}
            <p>Aucun projet à afficher.</p>
        {% endfor %}

        <article class="card-project">
            <a href="{{ path('app_project_new') }}">
                <i class="fa-solid fa-circle-plus add-project-icon"></i>
                <h2>Ajouter un projet</h2>
            </a>
        </article>
    </div>
{% endblock %}